#list {
    list-style: none;
}

li {
    font-size: 18px;
    color: #454851;
    font-family: 'Courier New', Courier, monospace;
}

li input {
    margin-left: 18px;
}

li button {
    margin-left: 12px;
}

#add {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#add input {
    font-size: 20px;
    color: #454851;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 4px;
}

#add #task {
    border-color: transparent;
    border-bottom-color: #454851;
}

#add #task::placeholder {
    color: #a4a5aa;
}

#add #task:focus {
    outline: none;
}

#add #submit {
    background-color: green;
    border-color: green;
    width: 120px;
    border-radius: 3px;
    color: #fafafa;
    font-weight: bolder;
}

@media only screen 
and (device-width: 450px) 
and (device-height: 900px){
    #add #submit{
        width: 20%;
        border-radius: 1px;
        justify-content: center;

    }

    li {
        font-size: 9px;
        color: #454851;
        font-family: 'Courier New', Courier, monospace;
        justify-content: center;
    }
    
    li input {
        margin-left: 9px;
        justify-content: center;
    }
    
    li button {
        margin-left: 6px;
        justify-content: center;
        
    }
    
    #add {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        justify-content: center;
    }
    
    #add input {
        font-size: 10px;
        color: #454851;
        font-family: 'Courier New', Courier, monospace;
        margin-right: 2px;
        justify-content: center;
    }

}